<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>FIS Penalty Calculator</title>
</head>
<body>
    <h1 class="fis-title">FIS Penalty Calculator</h1>

    <form id="linkForm">
        <label for="linkInput">Enter Link Here:</h2>
            <input 
                type="text" 
                id="linkInput"
                placeholder="Enter link to race" />
                <!-- name="link"  -->
            <button type="submit">Calculate</button>
    </form>  
</div>

<table id="result"></table>

<script src="../script.js"></script>
</body>
</html>

