<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <title>FIS Penalty Calculator</title>
</head>
<body>
    <div class="title-box">
        <h1 class="fis-title">FIS Penalty Calculator</h1>
    </div>

    <form id="linkForm">
        <label for="linkInput">Enter Link Here:</label>
        <div class="box-button">
            <input 
                type="text" 
                id="linkInput"
                placeholder="Enter link to race" />
                <!-- name="link"  -->
            <button id="calculate" type="submit" class="btn btn-primary">Calculate</button>
        </div>

    </form>

    <h3 class="results-title">RESULTS</h3>
    <table id="result"></table>

<script src="../script.js"></script>
</body>
</html>

